.body-container{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
 
}
.form-info-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
   
}
.form-info {
 
    margin: 10px;
}
.form-info-label {
    color: gray;
    flex: 1;

}
.form-info-data {
    flex:2;
    font-weight: bold;
   
}
.questions {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}
.questions-card {
    width:100%;
    min-width: 330px;
    min-height: 200px;
    padding: 20px;
    border: 1px solid lightgray;
}
.card-title {

    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
}
.question-description {
    font-style: italic;
    font-weight: lighter;
}
.card-question-title {
    font-size: 24px;
    font-style: italic;
}
.checkbox {
    display: flex;
    padding: 5px 10px;
}
.optionValue {
    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

mat-form-field {
  
    min-width: 300px;
}
button[mat-icon-button][disabled] mat-icon {
    color: rgba(255, 255, 255, 0.38); /* Couleur atténuée pour l'icône */
  }
  .checkbox-div {
    
    flex:1;
    
  }
  mat-error {
      color: red;
  }
  .options-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    
      
  }
  .option-item {
   
      flex:1;
      margin: 5px;
      padding: 5px;
  
      
     
    
  }

  
  
