
<mat-card class="questions-card">
    @if(questions[questionNumber];as currentQuestion) {
   <div class="card-question-title">{{currentQuestion.required ? '(*)' : '' }}{{currentQuestion.title}}</div>
   <div class="question-description">{{currentQuestion.description}}</div>
   <div class="answer-div">
        @if(currentQuestion.type == 1
            || currentQuestion.type == 3
            || currentQuestion.type == 4) {
            <mat-form-field class="">
                <input matInput [(ngModel)]="currentQuestion.answers[0].value" disabled>
            </mat-form-field>
        }
        
        @else if(currentQuestion.type == 6) {
            @if (currentQuestion.optionList) {
                <div class="optionValue">
                    @for (value of currentQuestion.optionList.optionValues; track value.idx) {
                        <section class="checkbox-div">
                            <mat-checkbox class="checkbox" [checked]="isChecked(value.idx)" 
                                        (change)="onCheckboxChange($event.checked, value.idx)" disabled>
                                        {{value.label}}
                            </mat-checkbox>
                        </section>
                            
                    }
                </div>
            }
        }
        @else if (currentQuestion.type == 8) {
            @if (currentQuestion.optionList) {
            
                    @for (value of currentQuestion.optionList.optionValues; track value.idx) {
                        <mat-radio-button [checked]="isChecked(value.idx)">
                            {{value.label}}
                        </mat-radio-button>
                        
                    }
                
            }
        }
        @else if (currentQuestion.type == 7) {
            @if (currentQuestion.optionList) {
            <mat-form-field>
                <mat-select [(ngModel)]="currentQuestion.answers[0].value" placeholder="no value">
                @for (value of currentQuestion.optionList.optionValues; track value.idx) {
                    <mat-option [value]="value.idx.toString()">{{value.label}}</mat-option>
                }
            </mat-select>
            </mat-form-field>
        }
    }
        
   </div> 
    }
</mat-card>