
<mat-card class="questions-card">
    @if(question) {
        <div class="card-question-title">{{question.required ? '(*)' : '' }}{{question.title}}</div>
        <div class="question-description">{{question.description}}</div>
        <div class="answer-div">
                @if(question.type == 1) {
                    <short-question [instanceId]="instance?.instanceId" [question]="question" ></short-question>
                }
                <p>You enter: {{answerValue}}</p>
                @if(question.type == 2) {
                    <mat-form-field class="">
                        <textarea matInput  (input)="answerValue" ></textarea>
                    </mat-form-field>
                }
                @if(question.type == 3) {
                    <mat-form-field class="date">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" (input)="dateValue" >
                       
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                }
                @if(question.type == 4) {
                    <form [formGroup]="emailForm">
                    <mat-form-field class="email">
                        <input matInput name="email" formControlName="email"  (input)="emailValue" >
                       
                    </mat-form-field>
                    @if (emailForm.get('email')?.hasError('email')) {
                        <mat-error>Please enter a valid email adress</mat-error>
                        }
                    </form>
                }
                @if(question.type == 5) {
                    <form [formGroup]="integerForm">
                        <mat-form-field class="integer">
                            <input matInput formControlName="integer" (input)="answerValue">
                           
                        </mat-form-field>
                        @if(integerForm.get('integer')?.hasError('notInteger')) {
                            <mat-error>Please enter a valid integer</mat-error>
                        }
                       
                    </form>
                }
                
                @else if(question.type == 6) {
                    @if (question.optionList) {
                        <div class="optionValue">
                            @for (value of question.optionList.optionValues; track value.idx) {
                                <section class="checkbox-div">
                                    <mat-checkbox class="checkbox" [checked]="isChecked(value.idx)" 
                                                (change)="onCheckboxChange($event.checked, value.idx)" >
                                                {{value.label}}
                                    </mat-checkbox>
                                </section>
                                    
                            }
                        </div>
                    }
                }
                @else if (question.type == 8) {
                    @if (question.optionList) {
                    
                            @for (value of question.optionList.optionValues; track value.idx) {
                                <mat-radio-button [checked]="isChecked(value.idx)">
                                    {{value.label}}
                                </mat-radio-button>
                                
                            }
                        
                    }
                }
                @else if (question.type == 7) {
                    @if (question.optionList) {
                    <mat-form-field>
                        <mat-select [(value)]="selectedValue" placeholder = 'no value'>
                        @for (value of question.optionList.optionValues; track value.idx) {
                            <mat-option [value]="value.idx.toString()" >{{value.label}}</mat-option>
                        }
                    </mat-select>

                    </mat-form-field>
                    <p>You selected: {{selectedValue}}</p>
                }
            }
                
        </div>
       
    
    }
</mat-card>