
.body {
    margin-top: 50px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 10px; 
}
.mat-form-card {
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    transition: transform 0.2s;
    border: 2px solid lightgray;
}
.form-card {
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    margin: 10px;
}

.form-title {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    padding: 5px;

   
}
.form-description {
    font-style: italic;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 10px;
    overflow: hidden;

}


.started, .completed, .card-link{
    font-size: 14px;
    
    
}
.card-link {
    text-decoration: none;
    margin: 10px;
}
