<app-nav-bar title="My Forms" class="toolbar-actions" [isHome]="true">
    <button mat-icon-button (click)="toggleFilter()">
        <mat-icon>search</mat-icon>
     </button>
     <button mat-icon-button >
        <mat-icon>add</mat-icon>
     </button>
</app-nav-bar>
@if (filterIsVisible) {
<div class="filter-container">
    <mat-form-field class="filter-field" appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput [(ngModel)] ="filterText" (input)="applyFilter()">
    </mat-form-field>
</div>
}
<div class="body" [ngClass]="{'filter-visible': filterIsVisible, 'filter-hidden': !filterIsVisible}">
    <div class="list-forms">
        @for(form of forms; track form.formId) {
            <form-card [form]="form" [currentUser] = "currentUser" class="form-card"> </form-card>
        }
    </div>

   
</div>