<app-nav-bar [title]="'Share: ' + (form.title)" [backUrl]="'viewForm'"></app-nav-bar>
<div class="manage-shares-container">
    <form [formGroup]="frm">
    <h2>Users With Access</h2>
   
    <div class="users-access" formArrayName="accessers">
       
    <div *ngFor="let accesser of frm.get('accessers')?.value; let i = index" [formGroupName]="i">
          <div class="user-access-line" >
          <div>{{form.accesses[i].user?.firstName}} {{form.accesses[i].user?.lastName}}</div>
          <div class="access-checkbox">
              <section>
                  <mat-checkbox formControlName="userCtl" 
                                (change)="updateAccesses(i)">User</mat-checkbox>
                  <mat-checkbox formControlName="editorCtl"
                                (change)="updateAccesses(i)">Editor</mat-checkbox>
              </section>
          </div>
          </div>
          </div>
             
    </div>
    
    <h2>Add User Access</h2>
    <div class="add-users-access">
        <div class="users-access-form">
        <mat-form-field class="example-full-width">
            <mat-label>Select a User</mat-label>
            <input type="text" matInput [matAutocomplete]="auto" [formControl]="userToAddCtl" >
            <mat-autocomplete #auto="matAutocomplete" formArrayName="usersToAddAccess" [displayWith]="displayUserName">
                @for(user of form.allUsersWithoutAdmins; track user) {
                    <mat-option [value]="user">{{user.firstName}} {{user.lastName}}</mat-option>
                }
            </mat-autocomplete>
          
        </mat-form-field>
        <section>
            <mat-checkbox [formControl]="accessTypeUserCtl">User</mat-checkbox>
            <mat-checkbox [formControl]="accessTypeEditorCtl">Editor</mat-checkbox>
        </section>
        
    </div>
        <div class="add-button-container">
            <button mat-raised-button color="primary" class="add-button"
                    [disabled]="!canAddUserAccess"
                    (click)="addUserAccess()">Add</button>
        </div>
    </div>
    </form>
    
</div>