<mat-toolbar>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
    <span class="spacer"></span>
    <!-- pour mettre des éléments à droite -->
     <button mat-icon-button >
        <mat-icon>search</mat-icon>
     </button>
     <button mat-icon-button >
        <mat-icon>add</mat-icon>
     </button>
    <ng-content/>
</mat-toolbar>
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>My Forms</span>
    </button>
    <button mat-menu-item routerLink="/login" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout ({{currentUser }})</span>
    </button>
</mat-menu>
