@if (question?.optionList?.optionValues) {
  <div>
    <mat-radio-group [formControl]="selectedOption">
                    
    @for (value of question?.optionList?.optionValues; track value.idx) {
        <mat-radio-button [value]="value?.idx" [checked]="value?.idx == selectedOption.value?.idx">
            {{value.label}}
        </mat-radio-button>
        
    }
    </mat-radio-group>
  </div>
    <div>@if(selectedOption.hasError('required')) {
        <mat-error >This fiels is required</mat-error>
    }</div>

 
}
