form {
    width: 100%;
    display: grid;
    grid-row-gap: 10px;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 16px; 
  }
  
  .login-card {
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
 