
.body {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 10px; 
}
.form-card {
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    transition: transform 0.2s;
    border: 2px solid lightgray;
}
.form-title {
    
    font-size: 20px;
   
}
.form-description {
    font-style: italic;
    font-size: 18px;
}
.public-icon {

    margin-left: 140px;
}

.started, .completed, .card-link{
    font-size: 14px;
    
}
.card-link {
    text-decoration: none;
}
