<mat-card class="view-question-card"></mat-card>
    <div class="question-header">
        <h6 class="question-title">{{question?.title}}</h6>
        <div class="arrows-div">
            <button mat-icon-button >
                <mat-icon class="icons" fontIcon="arrow_upward"></mat-icon>
            </button>
            <button mat-icon-button >
                <mat-icon class="icons" fontIcon="arrow_downward"></mat-icon>
            </button>
        </div>
        </div>
        
            @if(question && question.description) {
                <p class="description"><strong>{{question.description}}</strong></p>
            }
    <div class="details-container">
        <div class="question-details">
            @if (question) {
            <div class="question-data-row">
                <div class="data-label">Type: </div><div>{{QuestionType[question.type]}}</div>
            </div>
        }
            <div class="question-data-row">
            <div class="data-label">Required: </div><div>{{question?.required}}</div>
            </div>
            <div class="question-data-row">
            @if(question && question.optionList) {
                <div class="data-label">Option List: </div><div>{{question.optionList.name}}</div>
            }
            </div>
        </div>
        <div class="footer-icons">
        <button mat-icon-button >
                <mat-icon class="icons">edit</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="icons" fontIcon="delete"></mat-icon>
            </button>
        </div>
    </div>
      
    
</mat-card>