<app-nav-bar title="My Option Lists"></app-nav-bar>

@for(optionList of myOptionLists; track $index) {
    <div class="option-list-line ">
        <div class="option-name">{{optionList.name}}</div>
        <div class="action-div">
            <button mat-icon-button>
                <mat-icon>
                    edit
                </mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>
                    delete
                </mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>
                    content_copy
                </mat-icon>
            </button>
            
        </div>
        
    </div>
}